<!-- editing/adding tasks  -->

<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>


  <!-- tasks title  -->
  <mat-form-field>
    <mat-label>Title (mandatory)</mat-label>
    <input
      #inputTitle
      matInput

      [(ngModel)]="tmpTitle"
      (keydown.enter)="onConfirm()">

    <button
              *ngIf="tmpTitle.trim().length > 0"

              mat-button matSuffix mat-icon-button aria-label="Clear"

              (click)="tmpTitle= ''" class="size25">

      <mat-icon>clear</mat-icon>
    </button>

  </mat-form-field>


  <!-- dropout category list  -->
  <mat-form-field>
    <mat-label>Specify category</mat-label>

    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">No category</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.title}}
      </mat-option>
    </mat-select>

  </mat-form-field>


  <!-- dropout priority list  -->
  <mat-form-field>
    <mat-label>Specify priority</mat-label>

    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">No priority</mat-option>
      <mat-option *ngFor="let pri of priorities" [value]="pri">
        {{pri.title}}
      </mat-option>
    </mat-select>

  </mat-form-field>



</mat-dialog-content>



<!-- action buttons  -->
<mat-dialog-actions>

  <div class="col-md-5 col-12">

      <button
          mat-raised-button color="primary"
          (click)="onConfirm()"
          [disabled]="inputTitle.value.trim().length==0">
       Save
      </button>


      <button mat-raised-button (click)="onCancel()">Cancel</button>

  </div>

  <!-- possible operations on the task -->

  <div class="col-md-7 col-12 text-right">


        <button
          mat-button class="green"
          *ngIf="!task.completed"
          (click)="complete()"

        >
          Complete task
        </button>



        <button
          mat-button class="green"
          *ngIf="task.completed"
          (click)="activate()"

        >
          Activate task

        </button>



        <button
                mat-button
                class="red"
                (click)="delete()"

        >
          Delete task

        </button>

  </div>


</mat-dialog-actions>
